<div id="<%= dom_id task %>">
  <div>
    <p>
      <strong>Title:</strong>
      <%= task.title %>
    </p>
    <p>
      <strong>Assigned To:</strong>
      <%= task.assigned_to ? task.assigned_to : "-" %>
    </p>
    <p style="<%= "color: red" if task.overdue? %>">
      <strong>Due:</strong>
      <%= task.due ? task.due.strftime("%Y-%m-%d") : "-" %>
    </p>
    <p>
      <strong>Created At:</strong>
      <%= task.created_at %>
    </p>
  </div>
</div>
